h1 {
    font-family: sans-serif;
    line-height: 20px;
    text-align: center;
    text-decoration: solid;
}

p {
    font-weight: 600;
    font-size: 48px;
    font-style: normal;
}

b {
    font-size: 16px;
}

.amarelo {
    color: yellow;
}

.vermelho {
    color: red;
}

.marrom {
    color: rgb(114, 100, 68);
}