* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
  }
  
  .header-img {
    width: 70px;
  }
  
  .gallery-img {
    width: 150px;
  }

  .social-img {
    width: 25px;
    margin-left: 10px;
  }

  .container-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(92, 88, 88);
    }

  .container-p {
    display: flex;
    justify-content: center;
  }

  .container-img {
    display: flex;
    width: 450px;
    margin: auto;
    flex-wrap: wrap;
    align-items: center; 
  }

  footer {
    display: flex;
    justify-content: center;
  }